#card{
    border: none;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}

img{
    width: 150px;
    height: 150px;
}

#header {
    background: #000080;
    color: white;
    width: 100%;
}
#body{
    width: 100%;
    background: lightgray;
}
