.card{
    background: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    margin-top: 15%;
}

.card-header{
    align-content: center;
}

.card input{
    color: gray;
}

#boton{
    background-color: white;
    border-color: white;
}

#lupa{
    width: 40px;
    height: 40px;
}
